
.choose__block {
    height: 130px;
    justify-content: space-between;
    margin: 30px auto 0 auto;
}

.choose__block .choose__btns {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 50px;
    padding: 0 10px;
    background: #fff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, .2);
    border: none;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    outline: 0;
    transition: .3s all;
}

.choose__block .choose__btns:hover {
    border: none;
    height: 50px;
    width: 300px;
    border-radius: 15px;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.7),
    0 17px 50px 0 rgba(0, 0, 0, 0.5);
    background-color: rgba(148, 235, 140, 0.5);
    font-weight: 700;
    font-size: 30px;
    transition-duration: 0.4s;
    color:black;
}

.choose__block .choose__btns__active {
    color: #fff;
    background-color: rgb(10, 200, 10);
    font-size: 20px;
}

.content {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    height: 90px;
    display: table;
    background-color:lawngreen;
    justify-content: center;
    border-radius: 60px;
    box-shadow: 0 4px 20px rgba(2, 2, 2, 0.8);
}

.content p {
    text-align: center;
    font-size: 60px;
    vertical-align: center;
    display: table-cell
}

.time__block {
    height: 300px;
    display: flex;
    align-items:center;
    justify-content: center;
}

.time__block .timer__block {  
    width: 120px;
    font-size: 20px;
    height: 120px;
    text-align: center;
    font-weight: 300;
    box-shadow: 0 4px 20px rgba(121, 4, 4, 0.5);
    border-radius:20px;
}

.time__block .timer__block span {
    display: block;
    margin-top: 10px;
    text-align: center;
    font-size: 60px;
    font-weight: 700;
}

.time {
    height: 60px;
    display: flex;
    align-items:center;
    margin-left: 500px;
}

.time .time__btn {
    border: 2px solid black;
    height: 50px;
    width: 200px;
    border-radius: 15px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3),
    0 6px 20px 0 rgba(0, 0, 0, 0.2);
    background-color: rgba(189, 0, 0, 0.5);
    font-weight: 700;
    font-size: 20px;
    transition-duration: 0.4s;
    overflow: hidden;
    cursor: pointer;
}

.time .time__btn:hover {
    border: 2px solid black;
    height: 60px;
    width: 220px;
    border-radius: 15px;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.7),
    0 17px 50px 0 rgba(0, 0, 0, 0.5);
    background-color: rgba(189, 0, 0, 0.5);
    font-weight: 700;
    font-size: 20px;
    transition-duration: 0.4s;
}

.time .time__btn:active {   
    background-color: rgba(230, 203, 203, 0.5);
    transform: translateY (4px);
    transition-duration: 0.01s;
}

.time .output__block {
    border: 2px solid black;
    width: 700px;
    height: 60px;
    margin-left: 60px;
    border-radius: 30px;
    font-size: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hide {
    display: none;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from{
        opacity: 0.1;
    } to{
        opacity: 1;
    }
}